---
layout: default
title: Fächer
---

<h1>{{page.title}}</h1>

{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes duplicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
{% if tag != "" %}
{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}
{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}
<div>
    {% for tag in tags %}
    <a href="#{{ tag | slugify }}">{{ tag }}</a>
    {% endfor %}
</div>

{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}
{% for tag in tags %}
<h2 id="{{ tag | slugify }}">{{ tag }}</h2>
<ul>
    {% for post in site.posts %}
    {% if post.tags contains tag %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a> - Datum: {{ post.date | date_to_string }} - <a href="/category.html/#{{ post.category | slugify }}">{{ post.category }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}
