---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">
                <span itemprop="datePublished">{{ post.date | date: date_format }}</span>
                {%- if post.category -%}
                <span itemprop="genre"> • Kategorie: {{ post.category }}</span>
                {%- endif -%}
                {%- if post.tags -%}
                <span itemprop="keywords"> • Tags: {% for tag in post.tags %}<a class="codinfox-tag-mark" href="/tags/#{{ tag | slugify }}">{{ tag }}</a> {% endfor %}</span>
                {%- endif -%}
            </span>
            <h3><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}

</div>
